{% extends "base.html" %}

{% block title %}Edit Configuration{% endblock %}

{% block content %}
    <h1>Edit Configuration (config.json)</h1>
    <p>แก้ไขการตั้งค่า Path และ Master files ต่างๆ ที่นี่</p>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{{ url_for('admin.config') }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.config_data.label(class="form-label") }}
                    {{ form.config_data(class="form-control font-monospace") }}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}
